@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
 .demoPortalBody{
     font-family: Roboto;
     color: #8a959f;
     overflow: hidden !important;
  /*   min-width: 1200px !important;
     overflow-x: auto !important;*/
}
 .demoPortalBody .container {
     max-width: 1200px !important;
}
/*------- NAV STYLES ----------*/
 .demoPortalBody .navMainDesktop{
     height: 100px;
     background-color: #fff !important;
}
 .demoPortalBody .navMainMobile{
     display: none;
}
 .demoPortalBody .navMainDesktop .rightNav{
     position: absolute;
     right: 0;
     padding-right: 0;
     top: 0;
     height: 100px;
}
 .demoPortalBody .navMainDesktop .rightNav .navbar-nav{
     float: right;
}
 .demoPortalBody .navMainDesktop .rightNav .navbar-nav .nav-item{
     margin-right: 30px;
     text-align: center;/*---NEW STYLE----*/
}

 .demoPortalBody .navMainDesktop .rightNav .navbar-nav .nav-item .nav-link{
     font-size: 16px;
     font-weight: 300;
     color: #ffffff;
     padding: 38px 10px;
}

.demoPortalBody .navMainDesktop .rightNav .navbar-nav .nav-item.active .nav-link{
     background-color: #009dab;
}
 .demoPortalBody .navMainDesktop .rightNav .navbar-nav .nav-item .nav-link:hover{
     opacity: .5;
     background-color: #4c586c;
}
 .demoPortalBody .navMainDesktop .rightNav .navbar-nav .nav-item .nav-link.invite{
     width: 173px;
     height: 45px;
     background-color: #26344a;
     border: solid 1px #ffffff;
     margin-top: 31px;
     text-align: center;
     padding: 10px;
     opacity: 1;
     outline: none;
}
 .demoPortalBody .navMainDesktop .rightNav .navbar-nav .nav-item .nav-link.invite:hover{
     background-color: #009dab;
     border: solid 1px #009dab;
}
 .demoPortalBody .navMainDesktop .rightNav .navbar-nav .profileAvatar{
     margin-right: 0;
}
 .demoPortalBody .navMainDesktop .rightNav .navbar-nav .profileAvatar .profileDetaisl{
     background-color: #4c586c;
     height: 100px;
     padding: 28px 50px;
}
 .demoPortalBody .navMainDesktop .rightNav .navbar-nav .profileAvatar .profileDetaisl .left, .demoPortalBody .navMainDesktop .rightNav .navbar-nav .profileAvatar .profileDetaisl .right{
     float: left;
}
 .demoPortalBody .navMainDesktop .rightNav .navbar-nav .profileAvatar .profileDetaisl .left .name{
     font-size: 16px;
     font-weight: 300;
     color: #ffffff;
     margin-bottom: 0;
}
 .demoPortalBody .navMainDesktop .rightNav .navbar-nav .profileAvatar .profileDetaisl .left .company{
     font-size: 10px;
     color: #ffffff;
     margin-bottom: 0;
     font-weight: 300;
}
 .demoPortalBody .navMainDesktop .rightNav .navbar-nav .profileAvatar .profileDetaisl .right{
     margin-left: 15px;
     width: 50px;
     height: 50px;
     border-radius: 5px;
     position: relative;
     bottom: 12px;
}
/*------- NAV STYLES ----------*/
/*----- CONTAINER STYLES ----*/
 .demoPortalBody .demoPortalContainer{
     background-color: #f2f7ff;
     height: calc(100vh - 100px);
     overflow-y:auto;
     padding: 0;
         overflow-x: hidden;
}
 .demoPortalBody .demoPortalContainer .whiteBackground{
     background-color: #ffffff;
}
 .demoPortalBody .demoPortalContainer .koreBankingBot{
     padding-top: 50px;
}
.demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks{
    margin-bottom: 10px;
}
 .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .taskLinkDropdown/*, 
 .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .taskLinkhrBot, 
 .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .taskLinkHealthBot,
  .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .taskLinkFashionBot,
  .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .taskLinkeCommerceBot*/{
     font-size: 16px;
     font-weight: 300;
     color: #009dab;
     text-decoration: none;
     cursor: pointer;
}
 .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .taskLinkDropdown .allTasksImg/*, 
 .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .taskLinkhrBot .allTasksImg, 
 .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .taskLinkHealthBot .allTasksImg,
 .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .taskLinkFashionBot  .allTasksImg,
 .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .taskLinkeCommerceBot  .allTasksImg*/{
     width: 18px;
     margin-right: 10px;
}
 .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .taskLinkDropdown .allTasks/*,
  .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .taskLinkhrBot .allTasks,
   .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .taskLinkHealthBot .allTasks,
    .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .taskLinkFashionBot .allTasks,
     .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .taskLinkeCommerceBot .allTasks*/{
     display: inline-block;
     position: relative;
     top: 2px;
}
.demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .dropdown-menu{
    min-width: 280px;
    max-height: 350px;
    overflow-y: hidden;
    padding: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.105);
    left: -9px !important;
    border: 1px solid #f0f0f0;
}
.demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .dropdown-menu:hover{
    overflow-y: auto;
 }


.demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .dropdown-menu li a{
  color: #1c1c1c;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    display: block;
    font-size: 15px;
    font-weight: 300;

     }
     .demoPortalBody .demoPortalContainer .koreBankingBot .seeAllTasks .dropdown-menu li a:hover{
     color: #fff;
      background: #009dab;
}
/*-----CAROUSEL ---*/
 .demoPortalBody .demoPortalContainer .carouselDiv{
     -ms-flex: 295px;
     flex: 0 0 295px;
     max-width: 295px;
}
 .demoPortalBody .demoPortalContainer .carouselDiv .carousel{
         position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
     }
 .demoPortalBody .demoPortalContainer .carouselDiv .carousel .carousel-inner .carousel-item{
     height: 242px;
}
 .demoPortalBody .demoPortalContainer .carousel .carousel-inner.expertCarousel {
     width: 80%;
     margin: 0 auto;
     text-align: center;
     padding: 40px;
}
 .demoPortalBody .demoPortalContainer .carousel .carousel-inner.expertCarousel .carousel-item .expertHearding{
     font-size: 35px;
     font-weight: 300;
     color: #3fd7e9;
     margin-bottom: 60px;
}
 .demoPortalBody .demoPortalContainer .carousel .carousel-inner.expertCarousel .carousel-item .expertDesc{
     font-size: 25px;
     font-weight: 300;
     color: #fff;
     margin-bottom: 60px;
}
 .demoPortalBody .demoPortalContainer .carouselDiv .carousel .carousel-indicators{
     bottom: -10px; /*--New styles--*/
}
 .demoPortalBody .demoPortalContainer .carouselDiv  .heading{
     font-size: 20px;
     font-weight: 300;
     color: #319aaf;
     margin-bottom: 2px;
}
 .demoPortalBody .demoPortalContainer .carouselDiv  .description{
     font-size: 16px;
     font-weight: 300;
     line-height: 1.56;
     text-align: left;
     color: #1c1c1c;
}
 .demoPortalBody .demoPortalContainer .carouselDiv .transcriptBTN{
     width: 132px;
     height: 30px;
     border-radius: 15px;
     background-color: #ffffff;
     border: solid 1px #3fd7e9;
     font-size: 10px;
     font-weight: 300;
     color: #319aaf;
     cursor: pointer;
     outline: none;
}
 .demoPortalBody .demoPortalContainer .carouselDiv  .transcriptBTN .transcriptImg{
     width: 14px;
     margin-right: 10px;
}
 .demoPortalBody .demoPortalContainer .carouselDiv .carousel .taskDetails{
     position: absolute;
     bottom: 20px;
     border-radius: 5px;
     -webkit-backdrop-filter: blur(44px);
     backdrop-filter: blur(44px);
     background-color: #ffffff;
     box-shadow: 0 0 25px 0 rgba(49, 154, 175, 0.1);
     padding: 10px;
     left: 1px;
     width: 96%;
}
 .demoPortalBody .demoPortalContainer .carouselDiv .carousel .taskDetails .taskName{
     font-size: 14px;
     font-weight: normal;
     font-style: italic;
     color: #319aaf;
     margin-bottom: 2px;
}
 .demoPortalBody .demoPortalContainer .carouselDiv .carousel .taskDetails .taskDescription{
     font-size: 14px;
     font-weight: 300;
     color: #1c1c1c;
}
 .demoPortalBody .demoPortalContainer .carouselDiv .carousel .carousel-indicators li {
     position: relative;
     -ms-flex: 0 1 auto;
     flex: 0 1 auto;
     text-indent: -999px;
     cursor: pointer;
     width: 5px;
     height: 5px;
     opacity: 0.2;
     background-color: #319aaf;
     border-radius: 50%;
     box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}
 .demoPortalBody .demoPortalContainer .carouselDiv .carousel .carousel-indicators .active{
     background-color: #319aaf;
     box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
     opacity: 1;
}
 .demoPortalBody .demoPortalContainer .logoImageDiv .logoImage{
         width: 144px;
    margin-right: 50px;
 }
/*-----CAROUSEL ---*/
/*-----SDK CONTAINER ---*/
 .demoPortalBody .demoPortalContainer .sdkContainer {
     -ms-flex: 0 0 510px;
     flex: 0 0 510px;
     max-width: 510px;
     border-right: 1px solid rgba(112, 112, 112, .2);
     border-left: 1px solid rgba(112, 112, 112, .2);
}
 .demoPortalBody .demoPortalContainer .sdkContainer .sdkDiv{
     height: 470px; /*--New styles--*/
     -webkit-backdrop-filter: blur(44px);
     backdrop-filter: blur(44px);
     box-shadow: 0 0 25px 0 rgba(49, 154, 175, 0.1);
     background-color: #ffffff;
     border: solid 1px rgba(180, 180, 180, 0.2);
}
/* .demoPortalBody .demoPortalContainer .sdkContainer .taskContainer {
     position: absolute;
     width: 95%;
     bottom: 0;
}
*/
 .demoPortalBody .demoPortalContainer .sdkContainer .taskContainer .titleHeading{
     font-size: 20px;
     font-weight: 300;
     text-align: center;
     color: #222222;
     margin-bottom: 94px;
}
 .demoPortalBody .demoPortalContainer .sdkContainer .taskContainer .tryBotBTN,  
 .demoPortalBody .demoPortalContainer .sdkContainer .taskContainer  .tryHRBotBTN,
 .demoPortalBody .demoPortalContainer .sdkContainer .taskContainer .tryBotBTNhealthBot,
 .demoPortalBody .demoPortalContainer .sdkContainer .taskContainer .tryBotBTNfashionBot,
  .demoPortalBody .demoPortalContainer .sdkContainer .taskContainer .transcriptBTNeCommerceBot{
     font-size: 16px;
     text-align: center;
     color: #ffffff;
     height: 50px;
     border-radius: 3px;
     background-color: #009dab;
     width: 100%;
     margin-top: 10px;
         cursor: pointer;
    outline: none;
}
 .demoPortalBody .demoPortalContainer .sdkContainer .taskContainer .taskDiv{
     display: block;
     clear: both;
}
 .demoPortalBody .demoPortalContainer .sdkContainer .taskContainer  .seeMoreTasks {
    color: #009dab;
    float: right;
    cursor: pointer;
}
.demoPortalBody .demoPortalContainer .sdkContainer .taskContainer  .seeMoreTasks:hover{
     text-decoration: underline;
}
.demoPortalBody .demoPortalContainer .sdkContainer .taskContainer .taskDiv .task{
     float: left;
     padding-left: 0;
     margin-bottom: 15px;
}
 .demoPortalBody .demoPortalContainer .sdkContainer .taskContainer .taskDiv .task.right{
     padding: 0;
}
 .demoPortalBody .demoPortalContainer .sdkContainer .taskContainer .taskDiv .task .list{
     height: 50px;
     background-color: #ffffff;
     color: #009dab;
     display: block;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    cursor: pointer;
}
.demoPortalBody .demoPortalContainer .sdkContainer .taskContainer .taskDiv .task .list:hover{
     background-color: #009dab;
     color: #fff;
      border: 1px solid #009dab;
}
 .demoPortalBody .demoPortalContainer .sdkContainer .taskContainer .taskDiv .task .list .fa-circle{
     font-size: 8px;
     margin-right: 10px;
     top: -2px;
     position: relative;
     display: none;
}
.demoPortalBody .demoPortalContainer .sdkContainer .taskContainer .taskDiv .task .list:hover .title{
     color:#fff;
     }
 .demoPortalBody .demoPortalContainer .sdkContainer .taskContainer .taskDiv .task .list .title{
     font-size: 16px;
     font-weight: 300;
     color: #1c1c1c;
}
/*-----SDK CONTAINER ---*/
/*-----CHANNELS CONTAINER ---*/
 .demoPortalBody .demoPortalContainer .channelsContainer {
     -ms-flex: 0 0 320px;
     flex: 0 0 320px;
     max-width: 320px;
}
 .demoPortalBody .demoPortalContainer .channelsContainer .titleChannels{
     font-size: 20px;
     font-weight: 300;
     color: #273238;
     margin-bottom: 0; /*---NEW STYLE----*/
}
 .demoPortalBody .demoPortalContainer .channelsContainer .channelsDiv{
     max-height: 314px;/*---NEW STYLE----*/
     overflow-y: hidden;
     padding-top: 5px;
    padding-left: 5px;
    position: relative;/*---NEW STYLE----*/
}
 .demoPortalBody .demoPortalContainer .channelsContainer .channelsDiv:hover{
     overflow-y: auto;
}
 .demoPortalBody .demoPortalContainer .channelsContainer .channelsDiv .channel{
     display: inline-block;
     width: 130px;
     height: 125px;
}
 .demoPortalBody .demoPortalContainer .channelsContainer .channelsDiv .channel .channelDetails, 
 .demoPortalBody .demoPortalContainer .channelsContainer .channelsDiv .channel .channelDetailsWeb{
     position: relative;
     height: 125px;
     background-color: #ffffff;
     border: solid 1px rgba(112, 112, 112, 0.1);
     margin-top: -1px;
     margin-left: -5px;
     text-align: center;
     padding: 25px 0;
     font-size: 12px;
     font-weight: 300;
     color: #4b4b4b;
     text-decoration: none;
     cursor: pointer;
}
 .demoPortalBody .demoPortalContainer .channelsContainer .channelsDiv .channel .channelDetails.open {
     background-color: #fbfcff;
     border: 0;
}
 .demoPortalBody .demoPortalContainer .channelsContainer .channelsDiv .channel .channelDetails.open .descriptionChannel{
     display: block;
}
 .demoPortalBody .demoPortalContainer .channelsContainer .channelsDiv .channel .channelIcon{
     width: 25px;
     height: 25px;
     margin-bottom: 18px;
}
 .demoPortalBody .demoPortalContainer .channelsContainer .channelsDiv .channel .descriptionChannel{
     display: none;
     position: absolute;
    top: -1px;
    left: 97px;
    width: 169px;
    height: 124px;
    border-radius: 5px;
    background-color: #fbfcff;
    font-size: 10px;
    font-weight: 300;
    margin: 0;
    border: 0;
    z-index: 9;
    padding: 5px 10px;
    text-align: left;
}
.demoPortalBody .demoPortalContainer .channelsContainer .channelsDiv .channel.right .descriptionChannel{
         left: auto;
         right: 97px;
}
 .demoPortalBody .demoPortalContainer .channelsContainer .channelsDiv .channel .descriptionChannel p{
         margin-bottom: 5px;
 }
 .demoPortalBody .demoPortalContainer .channelsContainer .channelsDiv .channel .descriptionChannel .actionBTN{
     height: 25px;
     border-radius: 3px;
     background-color: #fbfcff;
     border: solid 1px #319aaf;
     font-size: 12px;
     font-weight: normal;
     text-align: center;
     color: #319aaf;
     padding: 5px 10px;
     cursor: pointer;
}
 .demoPortalBody .demoPortalContainer .channelsContainer .channelsDiv .channel .descriptionChannel .actionBTN.wedIvrBTN{
     clear: both;
     display: block;
     margin-bottom: 10px;
     margin-top: 20px;
     padding: 2px;
 }
.demoPortalBody .demoPortalContainer .channelsContainer .channelsDiv .channel .descriptionChannel .actionBTN:hover{
     background-color: #009dab;
     border: solid 1px #009dab;
     color: #fff;
     }
/*-----CHANNELS CONTAINER ---*/
 .demoPortalBody .demoPortalContainer .koreBankingBot{
     padding-top: 30px;
     /* padding-bottom: 10px; */
}
 .demoPortalBody .demoPortalContainer .koreBankingBot .borderBottom{
     border-bottom: solid 1px rgba(112, 112, 112, .22);
     padding-bottom: 30px;
}
 .demoPortalBody .demoPortalContainer .koreBankingBot .paddingTop{
     padding-top: 30px;
}
 .demoPortalBody .demoPortalContainer .koreBankingBot .customBots{
     font-size: 36px;
     font-weight: 300;
     text-align: center;
     color: #009dab;
     margin-bottom: 40px;
}
 .demoPortalBody .demoPortalContainer .koreBankingBot .sampleBots{
     font-size: 36px;
     font-weight: 300;
     text-align: center;
     color: #222222;
}
 .demoPortalBody .demoPortalContainer .koreBankingBot .sampleDesc{
     font-size: 16px;
     font-weight: 300;
     text-align: center;
     color: #1c1c1c;
}
 .demoPortalBody .demoPortalContainer .koreBankingBot .otherSiteLinks{
     margin-top: 25px;
}
 .demoPortalBody .demoPortalContainer .koreBankingBot .otherSiteLinks .left .imgDIV{
     width: 400px;
     float: right;
     text-align: center;
     text-decoration: none;
}
 .demoPortalBody .demoPortalContainer .koreBankingBot .otherSiteLinks .right .imgDIV{
     width: 400px;
     float: left;
     text-align: center;
     text-decoration: none;
}
 .demoPortalBody .demoPortalContainer .koreBankingBot .otherSiteLinks .left .extImg, .demoPortalBody .demoPortalContainer .koreBankingBot .otherSiteLinks .right .extImg{
     width: 400px;
     height: 200px;
     border-radius: 5px;
     background-color: #ffffff;
     box-shadow: 0 0 10px 0 rgba(98, 197, 217, 0.15);
}
 .demoPortalBody .demoPortalContainer .koreBankingBot .otherSiteLinks .left .pageName, .demoPortalBody .demoPortalContainer .koreBankingBot .otherSiteLinks .right .pageName{
     margin-top: 15px;
     font-size: 20px;
     font-weight: 300;
     color: #222222;
}
 .demoPortalBody .demoPortalContainer .grayBackground{
     background-color: #556d79;
}
 .demoPortalBody .demoPortalContainer footer{
     background-color: #26344a;
     padding: 50px;
}
 .demoPortalBody .demoPortalContainer footer .footerLinks, .demoPortalBody .demoPortalContainer footer .socialRight .socialIcons{
     list-style: none;
}
 .demoPortalBody .demoPortalContainer footer .footerLinks span{
     color: #ffffff;
     font-size: 22px;
     margin-bottom: 15px;
     display: block;
}
 .demoPortalBody .demoPortalContainer footer .footerLinks li {
     margin-bottom: 15px;
}
 .demoPortalBody .demoPortalContainer footer .footerLinks li a{
     color: #009DAB;
     font-size: 15px;
     text-decoration: none;
}
 .demoPortalBody .demoPortalContainer footer .footerLinks li a:hover{
     color: #fff;
}
 .demoPortalBody .demoPortalContainer footer .socialRight .socialIcons li{
     float: left;
     margin-right: 10px;
     border: 1px solid;
     border-radius: 50%;
     color: #009DAB;
     height: 30px;
     width: 30px;
     text-align: center;
     padding: 2px;
}
 .demoPortalBody .demoPortalContainer footer .socialRight .socialIcons li:hover{
     color: #fff;
     background: #009DAB;
}
 .demoPortalBody .demoPortalContainer footer .socialRight .socialIcons {
     float: right;
}
 .demoPortalBody .demoPortalContainer footer .socialRight .socialIcons li a {
     color: #009DAB;
}
 .demoPortalBody .demoPortalContainer footer .socialRight .socialIcons li:hover a {
     color: #fff;
     background: #009DAB;
}
 .demoPortalBody .demoPortalContainer footer .socialRight .socialIcons li a .fa{
     font-size: 14px;
}
 .demoPortalBody .demoPortalContainer footer .copyRights{
     font-size: 12px;
     font-weight: 400;
}
 .demoPortalBody .demoPortalContainer footer .securityLinks{
    text-align: right;
}
 .demoPortalBody .demoPortalContainer footer .securityLinks a{
     color: #009DAB;
     text-decoration: none;
     font-size: 12px;
     margin-right: 10px;
}
 .demoPortalBody .demoPortalContainer footer .securityLinks a:hover{
     color: #fff;
}
/*.stateTasks .taskContainer {
  display: block;
}
.stateTasks .sdkDiv {
  display: none;
}
.stateTasks .taskLink{
     display: none;
}
.stateTasks .taskLinkhrBot{
     display: none;
}
.stateTasks .taskLinkHealthBot{
     display: none;
}
.stateTasks .taskLinkFashionBot{
     display: none;
}
.stateTasks .taskLinkeCommerceBot{
     display: none;
}

.stateSDK .taskContainer {
  display: none;
}
.stateSDK .sdkDiv {
  display: block;
}*/
/*----- CONTAINER STYLES ----*/
/*-- RESOURCES PAGE STYLES --*/
 .demoPortalBody .demoPortalContainer.resourcesContainer {
     background: #fff;
 }
 .demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer{
     padding: 40px 50px;

 }
 .demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer h2{
       font-size: 24px;
       font-weight: 300;
       color: #26344a;
 }
  .demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .resourcesDIV{
    overflow: hidden;
    display: block;
    height: 140px;
        transition: .33s;
        padding: 10px 3px;
}
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.showFull .resourcesDIV{
    display: block;
    height: auto;
    overflow: visible;
        transition: .33s;
}
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .seeLesscompetitors,
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .seeLessbotsPlatform,
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .seeLessLearning,
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .seeLesstrainingVideos{
     display: none;
}
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .seeAllcompetitors,
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .seeAllbotsPlatform,
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .seeAllLearning,
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .seeAlltrainingVideos{
     display: block;
}
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.showFull .seeAllbotsPlatform,
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.showFull .seeAllcompetitors,
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.showFull .seeAllLearning,
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.showFull .seeAlltrainingVideos{
     display: none;
}
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.showFull .seeLesscompetitors,
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.showFull .seeLessbotsPlatform,
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.showFull .seeLessLearning,
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.showFull .seeLesstrainingVideos{
     display: block;
}
  .demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .resourcesDIV .resourcesLink {
    padding: 15px 3px;
    display: inline-block;
    width: 205px;
    height: 119px;
    background-color: #f2f3f5;
    margin-right: 15px;
     margin-bottom: 15px;
    text-align: center;
     text-decoration: none;
     border: 1px solid #fff;    
  }

  .demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .resourcesDIV .resourcesLink:hover{
   transform: scale(1.03);
   border: 1px solid #ddd;
  }
  .demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .resourcesDIV .resourcesLink .resourcesIcon{
     width: 30px;
     height: 30px;
         margin-bottom: 10px;
  }
   .demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .resourcesDIV .resourcesLink .resourcesDesc{
       font-size: 13px;
  color: #26344a;
}
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .moreLessDiv{
    position: relative;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    text-align: left;
 margin-top: 10px;
}
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .moreLessDiv a{
     color: #009dab;
    text-decoration: none;
    background: #fff;
    position: absolute;
    width: 98px;
    top: -14px;
    right: 1px;
    text-align: center;
}
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer .moreLessDiv a:hover{
     opacity: .8;
}
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.trainingVideos .resourcesDIV {
     height: auto;
}
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.trainingVideos .resourcesDIV .resourcesLink{
     padding: 5px;
    display: inline-block;
    width: 205px;
    height: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    position: relative;
}
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.trainingVideos .resourcesDIV .resourcesLink:hover{
    background-color: #f2f3f5;

}
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.trainingVideos .resourcesDIV .resourcesLink .palyVideoIcon{
    position: absolute;
    top: 34px;
    left: 75px;
    display: none;
}
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.trainingVideos .resourcesDIV .resourcesLink:hover .palyVideoIcon{
     display: block;
     }
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.trainingVideos .resourcesDIV .resourcesLink .resourcesDesc {
    font-size: 13px;
    color: #26344a;
    text-align: left;
}
.demoPortalBody .demoPortalContainer.resourcesContainer .resourcesSubContainer.trainingVideos .resourcesDIV .resourcesLink .resourcesIcon{
     width: 100%;
     height: 100%;
}
/*-- RESOURCES PAGE STYLES --*/
/*--CONTACT US PAGE STYLES --*/
 .demoPortalBody .demoPortalContainer.contactUSContainer{
     padding: 0;
 }
  .demoPortalBody .demoPortalContainer.contactUSContainer .heroImageDiv{
    width: 100%;
    height: 400px;
    background-image: url('../images/bannerHeor-bg.jpg');
    background-size: cover;
 }
  .demoPortalBody .demoPortalContainer.contactUSContainer .heroImageDiv .container{
     text-align: center;
     padding: 100px 20px;
  }
  .demoPortalBody .demoPortalContainer.contactUSContainer  .container.gMapDiv{
     padding: 20px;
  }
   .demoPortalBody .demoPortalContainer.contactUSContainer .heroImageDiv .container .title{
         font-size: 40px;
         color: #fff;
         font-weight: 300;
   }
   .demoPortalBody .demoPortalContainer.contactUSContainer .heroImageDiv .container .desc{
     color: #fff;
     font-size: 20px;
     /*font-weight: 200;*/
   }
.demoPortalBody .demoPortalContainer.contactUSContainer .heroImageDiv .container .contactusBTN{
    /*background: #27354a;
    padding: 10px 20px;
    border: 1px solid #27354a;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;*/
    color: #fff;
    font-size: 20px;
}
.demoPortalBody .demoPortalContainer.contactUSContainer .heroImageDiv .container .contactusBTN .fa-phone{
     margin-right: 10px;
     }
.demoPortalBody .demoPortalContainer.contactUSContainer .heroImageDiv .container .contactusBTN:hover{
     opacity: .8;
}
 /*--CONTACT US PAGE STYLES --*/
 /*--INVITE PAGE STYLES --*/

 .demoPortalBody  .inviteModal .modal-header{
     border: 0;
 }
 .demoPortalBody  .inviteModal .modal-header .modal-title{
     font-size: 30px;
    font-weight: 300;
    color: #4b4b4b;
 }
  .demoPortalBody  .inviteModal .bootstrap-tagsinput{
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px 5px 0px;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    display: block;
 }
  .demoPortalBody  .inviteModal .bootstrap-tagsinput input{
     border: 0;
     color:#27354a;
     outline: none;
  }

  .demoPortalBody  .inviteModal .bootstrap-tagsinput input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#27354a;
     font-size: 14px;
     font-weight:200;
}
.demoPortalBody  .inviteModal .bootstrap-tagsinput input::-moz-placeholder { /* Firefox 19+ */
    color:#27354a;
     font-size: 14px;
     font-weight:200;
}
.demoPortalBody  .inviteModal .bootstrap-tagsinput input:-ms-input-placeholder { /* IE 10+ */
    color:#27354a;
     font-size: 14px;
     font-weight:200;
}
.demoPortalBody  .inviteModal .bootstrap-tagsinput input:-moz-placeholder { /* Firefox 18- */
    color:#27354a;
     font-size: 14px;
     font-weight:200;
}
  .demoPortalBody  .inviteModal .bootstrap-tagsinput .label-info{
    background: #f2f3f5;
    color: #27354a;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
  }
.demoPortalBody  .inviteModal .bootstrap-tagsinput .label-info .fa-close{
     font-size: 12px;
     margin-left: 10px;
     cursor: pointer;
}
.demoPortalBody  .inviteModal .bootstrap-tagsinput .label-info .fa-close:hover{
     opacity: .8;
}
.demoPortalBody  .inviteModal .modal-content .modal-footer {
    justify-content: left;
    border: none;
}
  .demoPortalBody  .inviteModal .modal-content .modal-footer .btn-primary {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #8a959f;
    border: 1px solid #8a959f;
    font-size: 14px;
    color: #ffffff;
    padding: 0px;
}
  .demoPortalBody  .inviteModal .modal-content .modal-footer .btn-default {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #e5e8ec;
    font-size: 14px;
    color: #8a959f;
    padding: 0px;
}
  /*--INVITE PAGE STYLES --*/
/*--- MODAL STYLES ---*/
 .demoPortalBody .modal .modal-dialog{
     max-width: 600px;
     box-shadow: 0 0 20px 0 rgba(0, 157, 171, 0.1);
     background-color: #ffffff;
     border: solid 1px #707070;
     border-radius: 5px;
         top: 25%;
}
 .demoPortalBody .seeMoreTasksModal .modal-dialog{
     max-width: 95%;
 }
 .demoPortalBody  .modal .modal-dialog .close{
     width: 18px;
     padding: 0;
     outline: none;
}
 .demoPortalBody  .webMobileMadal .modal-dialog .modal-content .modal-body .modal-title, 
 .demoPortalBody  .ivrModal .modal-dialog .modal-content .modal-body .modal-title {
     font-size: 30px;
     font-weight: 300;
     color: #4b4b4b;
     margin-bottom: 20px;
}
 .demoPortalBody.webMobileMadal .modal-dialog .modal-content .modal-body p,
 .demoPortalBody  .ivrModal .modal-dialog .modal-content .modal-body p{
     font-size: 18px;
     font-weight: 300;
     color: #4b4b4b;
}
.demoPortalBody  .ivrModal .modal-dialog .modal-content .modal-body ul{
     font-size: 18px;
     font-weight: 300;
     color: #009dab;
}
.demoPortalBody  .ivrModal .modal-dialog .modal-content .modal-body ul span{
     font-size: 18px;
     font-weight: 300;
     color: #4b4b4b;
}
 .demoPortalBody  .webMobileMadal .modal-dialog .modal-content .modal-body  .downloadBTN{
     width: 150px;
     height: 40px;
     border-radius: 3px;
     background-color: #009dab;
     font-size: 18px;
     text-align: center;
     color: #ffffff;
     border: 1px solid #009dab;
     float: right;
     cursor: pointer;
     outline: none;
}
 .demoPortalBody  .webMobileMadal .modal-dialog .modal-content .modal-body  .downloadBTN:hover{
     opacity: .8;
 }
 .demoPortalBody  .ivrModal .modal-dialog .modal-content .modal-body  .makeCallBTN{
     width: 150px;
     height: 40px;
     border-radius: 3px;
     background-color: #009dab;
     font-size: 18px;
     text-align: center;
     color: #ffffff;
     border: 1px solid #009dab;
     cursor: pointer;
     outline: none;
}
 .demoPortalBody  .ivrModal .modal-dialog .modal-content .modal-body  .makeCallBTN:hover{
     opacity: .8;
 }
.demoPortalBody  .ivrModal .modal-dialog .modal-content .modal-body .koreIMG{
    width: 155px;
    height: 80px;
    margin-bottom: 95px;
}
.demoPortalBody .channelsModal .modal-body .close{/*--New styles--*/
    width: 30px;
    outline: none;
    position: absolute;
    top: -30px;
    right: -30px;
    background: #fff;
    border-radius: 50%;
    opacity: 1;
    height: 30px;
}
/*--- MODAL STYLES ---*/
@media only screen and (min-width:0px) and (max-width:1200px) {
   .demoPortalBody .demoPortalContainer .carouselDiv {
    -ms-flex: 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

   .demoPortalBody .demoPortalContainer .sdkContainer{
    -ms-flex: 40%;
    flex: 0 0 40%;
    max-width: 40%;
}
.demoPortalBody .navMainDesktop .rightNav .navbar-nav .nav-item {
    margin-right: 6px;
}
.demoPortalBody .navMainDesktop .rightNav .navbar-nav .nav-item.active .nav-link{
     background-color: #009dab;
}
.demoPortalBody .demoPortalContainer .sdkContainer .taskContainer .taskDiv .task .list .title {
    font-size: 12px;
    font-weight: 300;
    color: #1c1c1c;
}
.demoPortalBody .demoPortalContainer .carouselDiv .carousel .description {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.56;
    text-align: left;
    color: #1c1c1c;
}
.demoPortalBody .demoPortalContainer .carouselDiv .carousel .taskDetails .taskDescription {
    font-size: 12px;
    font-weight: 300;
    color: #1c1c1c;
}
}
 @media only screen and (min-width:0px) and (max-width:767px) {
       .demoPortalBody .navMainDesktop{
         display: none;
    }
     .demoPortalBody .navMainMobile{
         display: block;
             height: 60px;
    }
    .demoPortalBody .navMainMobile .left,  .demoPortalBody .navMainMobile .right {
          float: left;
    }
    .demoPortalBody .navMainMobile .right .dropdown{
          float: right;
          cursor: pointer;
    }
    .demoPortalBody .navMainMobile .right .dropdown .dropdown-menu{
         top: 100%;
         left: -195px;
        width: 220px;
         box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
         background-color: #ffffff;
         border: solid 1px #e5e8ec;
    }
     .demoPortalBody .navMainMobile .right .dropdown .dropdown-menu  li a{
         padding: 8px 15px;
         color: #8a959f;
         display: block;
         border-bottom: 1px solid #e5e8ec;
         text-decoration: none;
         }
    .demoPortalBody .navMainMobile .right .dropdown .dropdown-menu  li a:hover{
          color: #009dab;
    }
     .demoPortalBody .navMainMobile  .profileDiv {
          float: right;    
          margin-right: 20px;
     }
 .demoPortalBody .navMainMobile  .profileDiv .name{
       font-size: 16px;
       font-weight: 300;
       color: #ffffff;
       margin-bottom: 0;
    }

.demoPortalBody .navMainMobile .profileDiv .company{
       font-size: 10px;
       color: #ffffff;
       margin-bottom: 0;
    }
     .demoPortalBody .navMainMobile  .profileDiv .avatar{
          width: 40px;
     }
    .demoPortalBody .navMainMobile .right .dropdown .allTasksImg{
          width: 20px;
          margin-top: 15px;   
    }
    .demoPortalBody .demoPortalContainer .carouselDiv, 
    .demoPortalBody .demoPortalContainer .channelsContainer,
    .demoPortalBody .demoPortalContainer .sdkContainer{
         margin: 0 auto;
         flex: 0 0 100%;
         max-width: 100%;
    }
    .demoPortalBody .demoPortalContainer .sdkContainer {
      /*           -ms-flex: 100%;
         flex: 0 0 100%;
         max-width: 100%;*/
         border-right: 1px solid rgba(112, 112, 112, .2);
         border-left: 1px solid rgba(112, 112, 112, .2);
}
.demoPortalBody .demoPortalContainer .sdkContainer .taskContainer .taskDiv .task .list .title {
    font-size: 12px;
    font-weight: 300;
    color: #1c1c1c;
}
.demoPortalBody .demoPortalContainer .carouselDiv {
     min-height: 350px;
}
.demoPortalBody .demoPortalContainer .carouselDiv .carousel .taskDetails {
         left: 9px;
}
.demoPortalBody .demoPortalContainer .carouselDiv .carousel .description {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.56;
    text-align: left;
    color: #1c1c1c;
}
.demoPortalBody .demoPortalContainer .carouselDiv .carousel .taskDetails .taskDescription {
    font-size: 12px;
    font-weight: 300;
    color: #1c1c1c;
}
}



/*---NEW STYLES----*/
.demoPortalBody .navMainDesktop .rightNav .navbar-nav .nav-item .nav-link.dropdown-toggle{
    padding: 38px 10px 15px;
    cursor: pointer;
}
.demoPortalBody .navMainDesktop .rightNav .navbar-nav .nav-item .dropdown-toggle::after{
    margin-left: 0;
}
.demoPortalBody .navMainDesktop .rightNav .navbar-nav .nav-item .dropdown.show .nav-link{
    color: #009dab;
    background: #232323;
}
.demoPortalBody .navMainDesktop .rightNav .navbar-nav .nav-item .dropdown.show .nav-link .caret{
    color: #fff;
}
.demoPortalBody .navMainDesktop .rightNav .navbar-nav .nav-item .dropdown-menu{
    background: #232323;
    margin-top: -1px;
    border-radius: 0;
    border-top: 1px solid #676767;
    color: #676767;
    padding: 0;
}
.demoPortalBody .navMainDesktop .rightNav .navbar-nav .nav-item .dropdown-menu li a{
    color: #676767;
    text-decoration: none;
    border-bottom: 1px solid #676767;
    display: block;
    padding: 5px;
    font-size: 14px;
    font-weight: 300;
}

.demoPortalBody .navMainDesktop .rightNav .navbar-nav .nav-item .dropdown-menu li a:hover{
    color: #fff;
}
.demoPortalBody .demoPortalContainer .channelsContainer .configBTN{
    background: #1c1c1c;
    color:#fff ;
    border: 1px solid #1c1c1c;
    display: block;
    width: 93%;
    text-align: center;
    padding: 10px;
    margin-top:20px; 
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    outline: none;
}
.demoPortalBody .demoPortalContainer .channelsContainer .transcriptBTN{
    background: #fff;
    color: #1c1c1c;
    border: 1px solid #1c1c1c7a;
    display: block;
    width: 93%;
    text-align: center;
    padding: 10px;
    margin-top:20px; 
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    outline: none;
}
.demoPortalBody .demoPortalContainer .channelsContainer .configBTN:hover, .demoPortalBody .channelsContainer .transcriptBTN:hover{
    background: #009dab;
    color:#fff ;
    border: 1px solid #009dab;
}
.demoPortalBody .demoPortalContainer .channelsContainer hr{
    margin: 0;
    width: 268px;
    position: relative;
    top: 0px;
    border-top: 1px solid #f0f0f0;
}
.demoPortalBody .demoPortalContainer .someDesAboutBot{
    margin-bottom: 25px;
}
.demoPortalBody .demoPortalContainer .someDesAboutBot .headingTitle{
    color: #009dab;
    font-size: 18px;
}

.demoPortalBody .demoPortalContainer .someDesAboutBot .shortDesc{
    margin-bottom: 5px;   
     font-size: 16px;
    font-weight: 300;
    line-height: 1.56;
    text-align: left;
    color: #1c1c1c;
}

.demoPortalBody .channelsModal .modal-body .close:hover{
    opacity: .8;
}
.demoPortalBody .channelsModal .modal-body .close .channelIcon{
    width: 12px;
    position: relative;
    top: -1px;
}
.demoPortalBody .demoPortalContainer.library, .demoPortalBody .demoPortalContainer.resources{
    background-color: #2f80ed !important;
}
.demoPortalBody .demoPortalContainer.library .container,  .demoPortalBody .demoPortalContainer.resources .container{
    padding: 40px;
}
.demoPortalBody .demoPortalContainer.library .container .title {
    font-size: 16px;
    line-height: 1.56;
    color: #1c1c1c;

}
.demoPortalBody .demoPortalContainer.library .container .filters hr{
    border-top: 1px solid #f0f0f0;
}
.demoPortalBody .demoPortalContainer.library .container .filters .inputSelect{
    margin-bottom: 0 !important;
}
.demoPortalBody .demoPortalContainer.library .container .filters .inputSelect input, .demoPortalBody .demoPortalContainer.library .container .filters .inputSelect button{
    background-color: #fff;
    border-color: #f0f0f0;
    color: #1c1c1c;
    text-align: left;
    outline: none;
    box-shadow: 0px 5px 9px 0px #00000012;
    font-size: 14px;
    font-weight: 300;
}
.demoPortalBody .demoPortalContainer.library .container .filters .inputSelect .dropdown-toggle::after {
    float: right;
    margin-top: 10px;
}
.demoPortalBody .demoPortalContainer.library .container .filters .inputSelect .dropdown-menu{
    min-width: 16rem;
}
.demoPortalBody .demoPortalContainer.library .container .channelsList .channelDetails .card, {
    padding: 5px;
}
.demoPortalBody .demoPortalContainer.library .container .channelsList .channelDetails .card .card-body .name{
    font-size: 16px;
    line-height: 1.56;
    color: #1c1c1c;
    font-weight: 300;
    margin-bottom: 5px;
}

.demoPortalBody .demoPortalContainer.library .container .channelsList .channelDetails .card .card-body .type{
    font-size: 12px;
    line-height: 1.56;
    color: #009dab;
    margin-bottom: 13px;
}
.demoPortalBody .demoPortalContainer.library .container .channelsList .channelDetails .card .card-body  .Description{
    font-size: 10px;
    line-height: 1.56;
    color: #1c1c1c;
    font-weight: 300;
	    margin-bottom: 13px;
}
.demoPortalBody .demoPortalContainer.library .container .channelsList .channelDetails .card .card-body .channelsIconsDiv .channelIcon{
    width: 15px;
    margin-right: 10px;
}
.demoPortalBody .demoPortalContainer.library .container .channelsList .channelDetails .card .detailsButton button.details{
    color: #1c1c1c;
    background-color: #dfdfdf;
    border-color: #dfdfdf;
    font-size: 12px;
    width: 100%;
    border-radius: 0;
}
.demoPortalBody .demoPortalContainer.library .container .channelsList .channelDetails .card .detailsButton button.details:hover{
    color: #fff;
    background-color: #009dab;
    border-color: #009dab;
}
.demoPortalBody .demoPortalContainer.resources .container .title {
    font-size: 16px;
    line-height: 1.56;
    color: #1c1c1c;

}
.demoPortalBody .demoPortalContainer.resources .container .title .subCat{
    font-size: 16px;
    line-height: 1.56;
    color: #009dab;

}
.demoPortalBody .demoPortalContainer.resources .resourcesDetails .card{
    box-shadow: 0px 5px 9px 0px #00000012;
    height: 220px;
}
.demoPortalBody .demoPortalContainer.resources .resourcesDetails .card .resourcesLink{
    text-decoration: none;
    text-align: center;
}
.demoPortalBody .demoPortalContainer.resources .resourcesDetails .card .resourcesLink .hover{
    position: absolute;
    background: #000000b2;
    text-align: center;
    top: 0;
    width: 100%;
    height: 100%;
    padding:40px;
}
.demoPortalBody .demoPortalContainer.resources .resourcesDetails .card .resourcesLink .hover {
    display: none;
}
.demoPortalBody .demoPortalContainer.resources .resourcesDetails .card .resourcesLink:hover .hover{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.demoPortalBody .demoPortalContainer.resources .resourcesDetails .card .resourcesLink:hover .hover .download{
    text-align: center;
    color: #fff;
    border: 1px solid #fff; 
     font-size: 12px;
    line-height: 2.56;
}
.demoPortalBody .demoPortalContainer.resources .resourcesDetails .card .resourcesLink .resourcesImg{
    max-width: 100%;    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.demoPortalBody .demoPortalContainer.resources .resourcesDetails .card .resourcesLink .resourcesTitle{
    font-size: 12px;
    line-height: 1.56;
    color: #009dab;
    margin-bottom: 5px;
    margin-top: 10px;
}

.demoPortalBody .demoPortalContainer.resources .resourcesDetails .card .resourcesLink .resourcesDesc{
    font-size: 12px;
    line-height: 1.56;
    color: #1c1c1c;
    margin-bottom: 5px;
    font-weight: 300;
}
/*---NEW STYLES----*/