<!DOCTYPE html>
<html>
   <head>
      <title>Submit form</title>
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
      <style>
         .row {
			padding: 10px 0;
			font-size: 18px;
         }
         .row .frstBlck {
			width: 20%;
         }
		 input, textarea, .uneditable-input {
			width: 195px;
			height: 30px;
		}
		.container {
		margin-left: 350px;
		margin-right: auto;
		margin-left: 50;
		margin-top: 150px;
}
      </style>
   </head>
   <body>
      <div class="container">
         <h1>Welcome User !</h1>
         
		<a class="btn btn-danger" role="button" id="update" href="/"
		   download="pic.png">
		  Download
		</a>
      </div>
      <script type="text/javascript" src="js/lib/jquery.js"></script>
      <script type="text/javascript">

		$('#update').click(function() {
			var url_string = window.location.href;
			var url = new URL(decodeURI(url_string));
			var userId = url.searchParams.get("userId");
			var data = JSON.stringify({"userId":userId});
			var _url =  window.location.origin +"/genericBotkit/isDownloaded";
			console.log(_url,data);
			var xhr = new XMLHttpRequest();
			xhr.withCredentials = true;

			xhr.addEventListener("readystatechange", function() {
				if(this.readyState === 4) {
					console.log(this.responseText);
				}
			});

			xhr.open("POST",_url);
			xhr.setRequestHeader("Content-Type", "application/json");

			xhr.send(data);
			window.close();
		});         
     
      </script>
   </body>
</html>