<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title>Kore.ai Payment Gateway</title>
</head>
<body class="bg-gray-900">
  <nav class="bg-purple-900 h-20 flex justify-center">
    <h1 class="text-white text-5xl">Kore.ai Payment Gateway</h1>
  </nav>
  
  <div class="flex justify-center mt-32" style="position:relative">
    <div class="flex justify-center" style="position:absolute;color:whitesmoke;top:-80px;display:none;" id="autofills">
      <span class="text-white bg-purple-900 p-4 rounded" style="cursor:pointer" onclick="autofill()">Autofill</span>
    </div>
    <form action="/genericBotkit/korePaymentGateway/" method="POST" class="flex flex-col w-1/3">
      <input class="bg-transparent text-white p-2 h-10 mb-4" type="text" id="name" name="name" placeholder="Cardholder Name">
      <!--input type="email" class="bg-transparent text-white p-2 h-10 mb-4" name="email" placeholder="Email"-->
      <input class="bg-transparent text-white p-2 h-10 mb-4" type="text" id="amount01" name="amount01" placeholder="Amount">
      <input class="bg-transparent text-white p-2 h-10 mb-4" type="text" id="amount" name="amount" placeholder="Amount" hidden="hidden">
      <input class="bg-transparent text-white p-2 h-10 mb-4" type="text" id="desc" name="description" placeholder="Description">
      <input type="text" class="bg-transparent text-white p-2 h-10 mb-4" style="display: none;" id="reqId" name="requestId" placeholder="Request id">
      <div id="card-element" class="bg-transparent text-white p-2 h-10 mb-4"></div>
      <div id="card-errors" role="alert"></div>
      <button class="text-white bg-purple-900 p-4 rounded">Submit Payment</button>
    </form>
  </div>
</body>
<script>
  var url_string = window.location.href;
  var url = new URL(decodeURI(url_string));

  var bot = url.searchParams.get("bot");
  if (bot == "st-cae85eab-eeef-53d8-adeb-4e1ea5434336") {
    document.getElementById('autofills').style.display = "block"
  } else {
    var description = url.searchParams.get("topupType");
    document.getElementById('desc').value =description;

    var amount = url.searchParams.get("amount");
    //document.getElementById('amount').value =amount.replace(/[^\d\.]/g,'');;
    document.getElementById('amount01').value =amount;
  }


  function autofill() {
    var description = url.searchParams.get("topupType");
    document.getElementById('desc').value =description;

    var amount = url.searchParams.get("amount");
    //document.getElementById('amount').value =amount.replace(/[^\d\.]/g,'');;
    document.getElementById('amount01').value =amount;

    document.getElementById('name').value = "Nibhrit Vij";  
  }


  var requestId = url.searchParams.get("requestId");
  document.getElementById('reqId').value =requestId

  console.log(document.getElementById('desc').value,document.getElementById('reqId').value)
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="card.js"></script>

</html>
